
canvas {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1 ;
}

body {
  background: rgb(218,173,104);
  background: radial-gradient(circle, rgba(218,173,104,1) 11%, rgba(101,157,189,1) 42%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
